body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(185, 183, 183);
    font-family: 'Balsamiq Sans', sans-serif;
}

.game-layout{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.control-panel{
    background-color: rgb(224, 224, 224);
    width: 300px;
    gap: 10px;
    padding: 20px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controls {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#strict-mode {
    margin-right: 20px;
}

#simon-board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 400px;
    text-align: center;
    margin-bottom: 1rem;
}

.simon-btn {
    width: 200px;
    height: 200px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s;
}

.top-left {
    background-color: darkgreen;
    border-top-left-radius: 100%;
}

.top-right {
    background-color: darkred;
    border-top-right-radius: 100%;
}

.bottom-left {
    background-color: goldenrod;
    border-bottom-left-radius: 100%;
}

.bottom-right {
    background-color: darkblue;
    border-bottom-right-radius: 100%;
}

.level-count {
    color: red;
    background-color: rgb(81, 0, 0);
    padding: 0.25rem 1rem;
}

#start-btn,
#power-btn {
    font-family: 'Balsamiq Sans', sans-serif;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#score-list {
    list-style: none;
    padding: 0;
  }
  
#score-list li {
    background-color: #e0e0e0;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
  }
  

#reset-btn{
    font-family: 'Balsamiq Sans', sans-serif;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#start-btn:hover,
#power-btn:hover {
    background-color: #27ae60;
}

#start-btn:disabled,
#power-btn:disabled {
    background-color: #484a4b;
    cursor: not-allowed;
}

.score{
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
}